input[type=tel],
input[type=url],
input[type=text],
input[type=email],
input[type=password] {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #B9B9B9;
	border-top-color: silver;
	@include box-sizing;

	&:hover {
		border-top-color: #A0A0A0;
	}

	&:focus {
		border: 1px solid #6699FF;
		outline: none;
	}
}

[class*=btn] {
	@include btn-base;
	@include background-gradient(#FFFFFF, #DFDFDF);

	& + [class*=btn] {
		margin-left: 5px;
	}

	&:hover {
		background: #EFEFEF;
		@include background-gradient(#FFFFFF, darken(#FFFFFF, 20%));
	}

	&:active {
		@include background-gradient(darken(#FFFFFF, 10%), darken(#EFEFEF, 10%));
	}
}

.btn-md {
	font-size: 14px;
	padding: 6px 12px;
}

.btn-large {
	font-size: 16px;
	padding: 8px 16px;
}