@mixin box-sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin clearfix {
  zoom: 1;

  &::before, &::after {
    display: table;
    content: "";
    zoom: 1;
  }

  &::after {
    clear: both;
  }
}

@mixin transition-prop($props...) {
  -webkit-transition-property: $props;
  -moz-transition-property: $props;
  -o-transition-property: $props;
  transition-property: $props;
}

@mixin transition-duration($t) {
  -webkit-transition-duration: $t;
  -moz-transition-duration: $t;
  -o-transition-duration: $t;
  transition-duration: $t; 
}

@mixin box-shadow($p) {
  -webkit-box-shadow: $p;
  -moz-box-shadow: $p;
  box-shadow: $p;
}

@mixin btn-base {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 3px;
  zoom: 1;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-image: initial;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #AAA;
  text-decoration: none;
  background-repeat: repeat-x;

  &:hover {
    text-decoration: none;
  }
}

@mixin background-gradient($color-top, $color-bottom) {
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0 startColorstr='#{ie-hex-str($color-top)}', endColorstr='#{ie-hex-str($color-bottom)}');
  background-image: -o-linear-gradient(top, $color-top 0, $color-bottom 100%);
  background-image: -ms-linear-gradient(top, $color-top 0, $color-bottom 100%);
  background-image: -webkit-linear-gradient(top, $color-top, $color-bottom);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-top), to($color-bottom));
  background-image: -moz-linear-gradient(top, $color-top, $color-bottom);
  background-image: linear-gradient(top, $color-top, $color-bottom);
}