extends layout

block content
	div.main-content
		h1.center Rock<br/>Paper Scissors<br/>Lizard Spock
		div.message-queue
		div.challenge-container.row.relative
			div.row.center
				div.selection-container
					img(src="/img/rpsls.png")
					div.selection-img.rock(data-selection='rock')
					div.selection-img.scissors(data-selection='scissors')
					div.selection-img.spock(data-selection='spock')
					div.selection-img.paper(data-selection='paper')
					div.selection-img.lizard(data-selection='lizard')
			div.selection.center
				button.btn-large.hide.lock-btn Lock In
			div.challenger.center
			div.timer	
	div.content-flair
	div.secondary-content
		div.startup.center
			//button.btn-large.login-start Login with Twitter
			button.btn-large.quick-start Quick Start
		div.module-box.quick-nick.hide
			p Nickname
			input(type='text', name='nickname')
		div.info-output.hide
			//div.module-box.row.span-half.nbcf
				p Smack Talk
				div#chat
				div.chat-input
					input(type='text', name='chat')
			div.row.nameplate
			div#players.row.nbcf