extends layout

block content
	div.row.relative
		div.row.first.center
			div.main-img.scissors
				img(src="/img/scissors.png", data-selection='scissors')
		div.row.second
			div.main-img.lfloat
				img(src="/img/spock.png", data-selection='spock')
			div.main-img.rfloat
				img(src="/img/paper.png", data-selection='paper')
		div.row.third
			div.main-img.lfloat
				img(src="/img/lizard.png", data-selection='lizard')
			div.main-img.rfloat
					img(src="/img/rock.png", data-selection='rock')
	div.selection.hide
				button.btn.lock-btn Lock In
	div.info-output
		div.module-box.row.span-half.nbcf
			p Smack Talk
			div#chat
			div.chat-input
				input(type='text', name='chat')
		div.module-box.row.span-half.nbcf
			p Players
			div#players
	div.overlay.nick-overlay.hide
		div.overlay-bg
		div.overlay-content
			button.btn.quick-start Quick Start
			button.btn.login-start Login with Twitter
			input(type='text', name='nickname', placeholder='nickname')
			button.btn.start start