extends layout

block content
	div.row.relative
		div.row.first.center
			div.main-img.scissors
				img(src="/img/scissors.png")
		div.row.second
			div.main-img.lfloat
				img(src="/img/spock.png")
			div.main-img.rfloat
				img(src="/img/paper.png")
		div.row.third
			div.main-img.lfloat
				img(src="/img/lizard.png")
			div.main-img.rfloat
					img(src="/img/rock.png")
	div.row
		p Chat
		div#chat
		div.chat-input
			input(type='text', name='chat')